@font-face {
  font-family: "Fredoka";
  src: url("../fonts/Fredoka/static/Fredoka-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fredoka-light";
  src: url("../fonts/Fredoka/static/Fredoka-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  font-family: "Fredoka";
  display: flex;
  justify-content: center;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

@media (max-width: 440px) {
  html,
  body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
