/* details.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1d1d1d;
  font-family: "Fredoka";
}

.details-page {
  max-width: 430px;
  min-height: 100vh;

  margin: 0 auto;

  background: #3daa35;

  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* TITLE */

.details-title {
  position: absolute;

  top: 35px;
  right: 70px;

  color: #baf2b5;

  font-size: 28px;
  font-weight: 900;

  text-align: right;
  line-height: 1;

  text-shadow: 0 3px 6px rgba(32, 1, 1, 0.136);
}

/* MAIN IMAGE */

.main-image {
  width: 100%;

  display: flex;
  justify-content: center;

  padding-top: 110px;
}

.main-image img {
  width: 300px;
  object-fit: contain;
}

/* DESCRIPTION */

.description-box {
  width: 100%;

  margin: 25px auto;

  background: #2f8229;

  padding: 28px 20px;
}

.description-box p {
  color: #baf2b5;

  font-size: 22px;
  line-height: 1.3;
  text-align: center;
}

/* SECOND IMAGE */

.second-image {
  width: 100%;

  display: flex;
  justify-content: center;

  padding-bottom: 40px;
}

.second-image img {
  width: 78%;
  border-radius: 3%;
}

.back-up,
.back-down {
  width: clamp(48px, 8vw, 64px);
  height: clamp(48px, 8vw, 64px);
  position: absolute;

  top: 15px;
  left: 60px;
  border: none;
  border-radius: 50%;

  background: #1f5b1c;
  color: white;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.back-down {
  margin: 28px auto 0;
}

.removebag {
  width: 70%;
  height: 90%;
  object-fit: contain;
}
